<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read_one</title>
</head>
<body>
    <h1>User {{ user.id }}</h1>
    <a href="/">Home</a>
    <div>
        <p> Full Name: {{ user.first_name }} {{ user.last_name }} </p><br><br>
        <p>Email: {{ user.email }} </p><br><br>
        <p>Created On: {{ user.created_at.strftime("%b %d %y") }} </p><br><br>
        <p>Last Updated On: {{ user.updated_at }} </p>
    </div>
    <a href="/edit_page/{{user.id}}">Edit</a>
    <a href="/delete/{{user.id}}">Delete</a>

</body>
</html>